
body {
    background-image: url('img/bsurvey.jpg');
  }
.box{
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    
}
.box1{
    
    width: 700px;
    background-color:#800080;
    padding: 20px;
    text-align: left;
    margin: auto;
    margin-top: 2%;
    margin-left: 25%;
    
}
.box2{
    width: 700px;
    background-color:#800080;
    padding: 20px;
    text-align: left;
    margin: auto;
    margin-top: 1%;
    margin-left: 25%;
}
.select{
    text-align: right;
}

.submit{
    width: 700px;
    padding: 20px;
    text-align: right;
    margin: auto;
    margin-top: 2px;

}
